This project is intended to give you experience working with pandas.  Due Sept 14th 2018, 5pm EST.
1. read in data/iris.csv, which contains data from the iris data set, https://en.wikipedia.org/wiki/Iris_flower_data_set
    1. How many columns are there?  what data types are the columns?  What are the column names and what do they correspond to?
    2. How many observations (rows) are there?
    3. How many species are included in this data set
2. This data set in our repository was the original data set uploaded to the UC Irvine machine learning repository.  It is known that there are errors in this data.  
    * the 35th row should read [4.9,3.1,1.5,0.2,"Iris-setosa"]
    * the 38th row should read [4.9,3.6,1.4,0.1,"Iris-setosa"]
Correct these entries in your DataFrame object.
3. Add two new columns to your DataFrame:
    * "Petal ratio" : the ratio of the petal length to petal width
    * "Sepal ratio" : the ratio of the sepal length to sepal width"
4. For each species, determine the mean, median, minimum, maximum and standard deviation of the petal and sepal ratio.  You may wish to group data according to species (see section 2.6.7) and use a descriptive summary statistic (see page 15)

In [1]:
import os
os.chdir('/home/campus30/ssperera/UN5550-Fall2018/projects')
!pwd

/home/campus30/ssperera/UN5550-Fall2018/projects

# 1)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("data/iris.csv")
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df.shape

(150, 5)

## 1.A

In [4]:
ncol=df.shape[1]
print("No. of columns: " + str(ncol) + ".")

No. of columns: 5.

In [5]:
df.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [6]:
list(df)

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

Data set includes three iris species with 50 samples each as well as some properties about each flower such as; 
'Sepal.Length:  Length of the sepal (in cm)
'Sepal.Width':  Width of the sepal (in cm)
'Petal.Length': Length of the petal (in cm)
'Petal.Width'   Width of the petal (in cm)
'Species':      name of the iris species

## 1.B

In [7]:
nrow=df.shape[0]
print("No. of rows: " + str(nrow) + ".")

No. of rows: 150.

## 1.C

In [8]:
df.groupby('Species').size ()

Species
setosa        50
versicolor    50
virginica     50
dtype: int64

In [9]:
noSpecies=len(df.groupby('Species').size ())
print("No. of species in data set: " + str(noSpecies) + ".")

No. of species in data set: 3.

# 2)

## 2.A

In [10]:
df.iloc[34]

Sepal.Length       4.9
Sepal.Width        3.1
Petal.Length       1.5
Petal.Width        0.1
Species         setosa
Name: 34, dtype: object

In [11]:
df.loc[34]
df.loc[34,'Petal.Width']=0.2
df.loc[34]

Sepal.Length       4.9
Sepal.Width        3.1
Petal.Length       1.5
Petal.Width        0.2
Species         setosa
Name: 34, dtype: object

## 2.B

In [12]:
df.loc[37]

Sepal.Length       4.9
Sepal.Width        3.1
Petal.Length       1.5
Petal.Width        0.1
Species         setosa
Name: 37, dtype: object

In [13]:

df.loc[37,'Sepal.Width']=3.6
df.loc[37,'Petal.Length']=1.4
df.loc[37]

Sepal.Length       4.9
Sepal.Width        3.6
Petal.Length       1.4
Petal.Width        0.1
Species         setosa
Name: 37, dtype: object

# 3

In [14]:
SepalRatio= df['Sepal.Length']/df['Sepal.Width'] 
SepalRatio.head()
df['SepalRatio']=SepalRatio
PetalRatio= df['Petal.Length']/df['Petal.Width'] 
PetalRatio.head()
df['PetalRatio']=PetalRatio
df.head()

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,SepalRatio,PetalRatio
0,5.1,3.5,1.4,0.2,setosa,1.457143,7.0
1,4.9,3.0,1.4,0.2,setosa,1.633333,7.0
2,4.7,3.2,1.3,0.2,setosa,1.468750,6.5
3,4.6,3.1,1.5,0.2,setosa,1.483871,7.5
4,5.0,3.6,1.4,0.2,setosa,1.388889,7.0

# 4

In [15]:
df[['SepalRatio','Species']].groupby('Species').describe()

           SepalRatio                                                    \
                count      mean       std       min       25%       50%
Species
setosa           50.0  1.470188  0.118750  1.268293  1.385684  1.463063
versicolor       50.0  2.160402  0.228658  1.764706  2.033929  2.161290
virginica        50.0  2.230453  0.246992  1.823529  2.031771  2.169540


                 75%       max
Species
setosa      1.541444  1.956522
versicolor  2.232692  2.818182
virginica   2.342949  2.961538

In [16]:
df[['PetalRatio','Species']].groupby('Species').describe()

           PetalRatio                                                    \
                count      mean       std       min       25%       50%
Species
setosa           50.0  6.908000  2.854545  2.666667  4.687500  7.000000
versicolor       50.0  3.242837  0.312456  2.666667  3.016667  3.240385
virginica        50.0  2.780662  0.407367  2.125000  2.511364  2.666667


                 75%   max
Species
setosa      7.500000  15.0
versicolor  3.417582   4.1
virginica   3.055556   4.0